In [1]:
import pandas as pd

In [6]:
df = pd.read_excel("data\\Forecasting Case- Study.xlsx")

In [7]:
df.head()

     State                 Date        Total   Category
0  Alabama  2019-01-12 00:00:00  109574036.0  Beverages
1  Alabama  2019-03-11 00:00:00  112189103.8  Beverages
2  Alabama  2019-06-10 00:00:00  129106730.4  Beverages
3  Alabama  2019-08-12 00:00:00  108083723.8  Beverages
4  Alabama  2019-10-11 00:00:00  110932912.8  Beverages

In [16]:
df['Category'].unique()

array(['Beverages'], dtype=object)

In [17]:
df['State'].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Florida', 'Georgia', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Nebraska', 'Nevada', 'New Hampshire', 'New Mexico',
       'New York', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [21]:
#No missing Values
df.isnull().sum()

State       0
Date        0
Total       0
Category    0
dtype: int64