In [24]:
import pandas as pd

In [25]:
df = pd.read_excel("data\\Forecasting Case- Study.xlsx")

In [26]:
df.head()

     State                 Date        Total   Category
0  Alabama  2019-01-12 00:00:00  109574036.0  Beverages
1  Alabama  2019-03-11 00:00:00  112189103.8  Beverages
2  Alabama  2019-06-10 00:00:00  129106730.4  Beverages
3  Alabama  2019-08-12 00:00:00  108083723.8  Beverages
4  Alabama  2019-10-11 00:00:00  110932912.8  Beverages

In [27]:
df['Category'].unique()

array(['Beverages'], dtype=object)

In [28]:
df['State'].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Florida', 'Georgia', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Nebraska', 'Nevada', 'New Hampshire', 'New Mexico',
       'New York', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [29]:
#No missing Values
df.isnull().sum()

State       0
Date        0
Total       0
Category    0
dtype: int64

In [30]:
df['Date'].unique()

array([datetime.datetime(2019, 1, 12, 0, 0),
       datetime.datetime(2019, 3, 11, 0, 0),
       datetime.datetime(2019, 6, 10, 0, 0),
       datetime.datetime(2019, 8, 12, 0, 0),
       datetime.datetime(2019, 10, 11, 0, 0),
       datetime.datetime(2020, 1, 3, 0, 0),
       datetime.datetime(2020, 1, 11, 0, 0),
       datetime.datetime(2020, 2, 2, 0, 0),
       datetime.datetime(2020, 2, 8, 0, 0),
       datetime.datetime(2020, 3, 5, 0, 0),
       datetime.datetime(2020, 4, 10, 0, 0),
       datetime.datetime(2020, 5, 1, 0, 0),
       datetime.datetime(2020, 5, 4, 0, 0),
       datetime.datetime(2020, 5, 7, 0, 0),
       datetime.datetime(2020, 6, 9, 0, 0),
       datetime.datetime(2020, 6, 12, 0, 0),
       datetime.datetime(2020, 7, 6, 0, 0),
       datetime.datetime(2020, 8, 3, 0, 0),
       datetime.datetime(2020, 8, 11, 0, 0),
       datetime.datetime(2020, 9, 2, 0, 0),
       datetime.datetime(2020, 9, 8, 0, 0),
       datetime.datetime(2020, 10, 5, 0, 0),
       datetime.datetime(2020, 11, 10, 0, 0),
       datetime.datetime(2020, 12, 1, 0, 0),
       datetime.datetime(2020, 12, 4, 0, 0),
       datetime.datetime(2020, 12, 7, 0, 0),
       datetime.datetime(2021, 1, 8, 0, 0),
       datetime.datetime(2021, 2, 5, 0, 0),
       datetime.datetime(2021, 3, 1, 0, 0),
       datetime.datetime(2021, 3, 10, 0, 0),
       datetime.datetime(2021, 4, 4, 0, 0),
       datetime.datetime(2021, 4, 7, 0, 0),
       datetime.datetime(2021, 5, 9, 0, 0),
       datetime.datetime(2021, 5, 12, 0, 0),
       datetime.datetime(2021, 6, 6, 0, 0),
       datetime.datetime(2021, 7, 2, 0, 0),
       datetime.datetime(2021, 7, 3, 0, 0),
       datetime.datetime(2021, 7, 11, 0, 0),
       datetime.datetime(2021, 8, 8, 0, 0),
       datetime.datetime(2021, 9, 5, 0, 0),
       datetime.datetime(2021, 10, 1, 0, 0),
       datetime.datetime(2021, 10, 10, 0, 0),
       datetime.datetime(2021, 11, 4, 0, 0),
       datetime.datetime(2021, 11, 7, 0, 0),
       datetime.datetime(2021, 12, 9, 0, 0),
       datetime.datetime(2021, 12, 12, 0, 0),
       datetime.datetime(2022, 1, 5, 0, 0),
       datetime.datetime(2022, 2, 1, 0, 0),
       datetime.datetime(2022, 2, 10, 0, 0),
       datetime.datetime(2022, 3, 4, 0, 0),
       datetime.datetime(2022, 3, 7, 0, 0),
       datetime.datetime(2022, 4, 9, 0, 0),
       datetime.datetime(2022, 4, 12, 0, 0),
       datetime.datetime(2022, 5, 6, 0, 0),
       datetime.datetime(2022, 6, 2, 0, 0),
       datetime.datetime(2022, 6, 3, 0, 0),
       datetime.datetime(2022, 6, 11, 0, 0),
       datetime.datetime(2022, 7, 8, 0, 0),
       datetime.datetime(2022, 8, 5, 0, 0),
       datetime.datetime(2022, 9, 1, 0, 0),
       datetime.datetime(2022, 9, 10, 0, 0),
       datetime.datetime(2022, 10, 4, 0, 0),
       datetime.datetime(2022, 10, 7, 0, 0),
       datetime.datetime(2022, 11, 9, 0, 0),
       datetime.datetime(2022, 11, 12, 0, 0),
       datetime.datetime(2022, 12, 6, 0, 0),
       datetime.datetime(2023, 1, 1, 0, 0),
       datetime.datetime(2023, 2, 4, 0, 0),
       datetime.datetime(2023, 5, 2, 0, 0),
       datetime.datetime(2023, 5, 3, 0, 0),
       datetime.datetime(2023, 7, 5, 0, 0),
       datetime.datetime(2023, 8, 1, 0, 0),
       datetime.datetime(2023, 9, 4, 0, 0),
       datetime.datetime(2023, 12, 2, 0, 0),
       datetime.datetime(2023, 12, 3, 0, 0), '13-02-2022', '13-03-2022',
       '13-06-2021', '13-09-2020', '13-10-2019', '13-11-2022',
       '13-12-2020', '14-02-2021', '14-03-2021', '14-06-2020',
       '14-08-2022', '14-11-2021', '15-01-2023', '15-03-2020',
       '15-05-2022', '15-08-2021', '15-11-2020', '15-12-2019',
       '16-01-2022', '16-02-2020', '16-04-2023', '16-05-2021',
       '16-08-2020', '16-10-2022', '17-01-2021', '17-04-2022',
       '17-05-2020', '17-07-2022', '17-10-2021', '17-11-2019',
       '18-04-2021', '18-07-2021', '18-09-2022', '18-10-2020',
       '18-12-2022', '19-01-2020', '19-02-2023', '19-03-2023',
       '19-04-2020', '19-06-2022', '19-07-2020', '19-09-2021',
       '19-12-2021', '20-02-2022', '20-03-2022', '20-06-2021',
       '20-09-2020', '20-10-2019', '20-11-2022', '20-12-2020',
       '21-02-2021', '21-03-2021', '21-06-2020', '21-08-2022',
       '21-11-2021', '22-01-2023', '22-03-2020', '22-05-2022',
       '22-08-2021', '22-11-2020', '22-12-2019', '23-01-2022',
       '23-02-2020', '23-04-2023', '23-05-2021', '23-08-2020',
       '23-10-2022', '24-01-2021', '24-04-2022', '24-05-2020',
       '24-07-2022', '24-10-2021', '24-11-2019', '25-04-2021',
       '25-07-2021', '25-09-2022', '25-10-2020', '25-12-2022',
       '26-01-2020', '26-02-2023', '26-03-2023', '26-04-2020',
       '26-06-2022', '26-07-2020', '26-09-2021', '26-12-2021',
       '27-02-2022', '27-03-2022', '27-06-2021', '27-09-2020',
       '27-10-2019', '27-11-2022', '27-12-2020', '28-02-2021',
       '28-03-2021', '28-06-2020', '28-08-2022', '28-11-2021',
       '29-01-2023', '29-03-2020', '29-05-2022', '29-08-2021',
       '29-11-2020', '29-12-2019', '30-01-2022', '30-04-2023',
       '30-05-2021', '30-08-2020', '30-10-2022', '31-01-2021',
       '31-05-2020', '31-07-2022', '31-10-2021'], dtype=object)

In [31]:
df["Date"] = pd.to_datetime(df["Date"])

In [32]:
df.head(20)

      State       Date        Total   Category
0   Alabama 2019-01-12  109574036.0  Beverages
1   Alabama 2019-03-11  112189103.8  Beverages
2   Alabama 2019-06-10  129106730.4  Beverages
3   Alabama 2019-08-12  108083723.8  Beverages
4   Alabama 2019-10-11  110932912.8  Beverages
5   Alabama 2020-01-03  116651493.0  Beverages
6   Alabama 2020-01-11  120522113.9  Beverages
7   Alabama 2020-02-02  108358279.6  Beverages
8   Alabama 2020-02-08  131945461.1  Beverages
9   Alabama 2020-03-05  128066130.9  Beverages
10  Alabama 2020-04-10  133713630.0  Beverages
11  Alabama 2020-05-01  104239954.2  Beverages
12  Alabama 2020-05-04  123259529.2  Beverages
13  Alabama 2020-05-07  138414683.2  Beverages
14  Alabama 2020-06-09  137905687.0  Beverages
15  Alabama 2020-06-12  116104621.0  Beverages
16  Alabama 2020-07-06  132304540.8  Beverages
17  Alabama 2020-08-03  119441834.4  Beverages
18  Alabama 2020-08-11  120902500.1  Beverages
19  Alabama 2020-09-02  109022481.6  Beverages

In [33]:
df.drop(columns=["Category"], inplace=True)

     State       Date        Total
0  Alabama 2019-01-12  109574036.0
1  Alabama 2019-03-11  112189103.8
2  Alabama 2019-06-10  129106730.4
3  Alabama 2019-08-12  108083723.8
4  Alabama 2019-10-11  110932912.8